{block:Photo}
%article.post.photo
  {LinkOpenTag}
  %a{:href=>"{Permalink}"}
    %img{ :src=>"{PhotoURL-500}", :alt=>"{PhotoAlt}"}
  {LinkCloseTag}
  {block:Caption}
  .caption {Caption}
  {/block:Caption}
{/block:Photo}