{block:Photo}
%article.post.photo.region.ss-camera
  %figure
    {LinkOpenTag}
    %a{:href=>"{Permalink}"}
      %img{ :src=>"{PhotoURL-500}", :alt=>"{PhotoAlt}"}
    {LinkCloseTag}
  {block:Caption}
  .caption{:itemprop=>"description"} {Caption}
  {/block:Caption}
{/block:Photo}
