{block:Text}
%article.post.text.ss-notebook
  {block:Title}
  %header
    %h1.title {Title}
    %p.date= "{block:Date}{DayOfMonth} {Month} {Year}{/block:Date}"
  {/block:Title}
  .body {Body}
{/block:Text}
