{block:Text}
%article.post.text.ss-notebook
  {block:Title}
  %header
    %h1.title{:itemprop=>"name"} {Title}
    {block:Date}
    %p.date= "{DayOfMonth} {Month} {Year}"
    {/block:Date}
  {/block:Title}
  .body{:itemprop=>"articleBody"} {Body}
{/block:Text}
