/*
 * Zoe with dots Tumblr
 * Author: Ad Taylor [ ad@adtaylor.co.uk ]
 *
 * 1. Resets/Base
 * 2. Type
 * 3. Headings
 * 4. Links
 * 5. Lists
 * 6. Layout
 * 7. Modules
 * 8. Helpers
 *
 */

@import "compass";
// @import "global/*.png";



/* 1. Resets/Base
  ==================== */
$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$base-line-height: 15px;

$gutter: 2em;


@include global-reset;
@include establish-baseline();

$grid-background-baseline-color : #E0F0FF;
body {
 @include debug-vertical-alignment();
}

$black:       #000;
$grey:        #666;


/* 2. Type
  ==================== */
body {
  font-family: $font-family;
  color: $font-color; 
}

@font-face {
    font-family: 'homemade_apple';
    src: url('http://static.tumblr.com/d2erwgc/FB7m8pqob/homemadeapple-webfont.eot');
    src: url('http://static.tumblr.com/d2erwgc/FB7m8pqob/homemadeapple-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.tumblr.com/d2erwgc/bx2m8pqrl/homemadeapple-webfont.woff') format('woff'),
         url('http://static.tumblr.com/d2erwgc/Noxm8pqsd/homemadeapple-webfont.ttf') format('truetype'),
         url('http://static.tumblr.com/d2erwgc/tUjm8pqt6/homemadeapple-webfont.svg#homemade_appleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* 3. Headings
  ==================== */

header h1 {
  font-family: 'homemade_apple', cursive;
}


/* 4. Links
  ==================== */
$link-color:              $black;
$link-hover-color:        $black;
$link-focus-color:        $black;
$link-active-color:       $black;
$link-visited-color:      $black;

a {
  // background-color: yellow;
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
  &:focus {
    outline: 3px solid yellow;
  }
}


$nav-link-color:          $grey;
$nav-link-hover-color:    $grey;
$nav-link-focus-color:    $grey;
$nav-link-active-color:   $grey;
$nav-link-visited-color:  $grey;
.nav a {
  @include link-colors($nav-link-color, $nav-link-hover-color, $nav-link-focus-color, $nav-link-active-color, $nav-link-visited-color);
}


/* 5. Lists
  ==================== */
ul, ol {
  margin-left: 1em;

  li {
    list-style-position: outside;
    list-style-type: disc;
    list-style-image: none;
  }
}

.semantic-list {
  margin: 0;
  li {
    list-style: none;
  }
}

.inline-list {
  li {
    display: inline-block;
    *display: inline;
  }
}

nav {
  ul, ol {
    @extend .semantic-list;
    @extend .inline-list;
  }
}


/* 6. Layout
  ==================== */

body {
  padding: rhythm();

  @media (min-width:600px) {
    & {
      padding: 0;
    }
  }
}

/* role="banner" */
[role="banner"] {
  .masthead {
    color: pink;
  }


  @media (min-width:600px) {
    & {
      text-align: center;

    }
  }

}


/* Navigation */
.nav ul {

  @media (max-width:600px) {
    &:before {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      overflow: hidden;
cursor: pointer;

      border: 1px solid black;
      border-radius: 4px;
      
      background-color: white;
      box-shadow: 1px 1px 0 white;

      text-align: center;
      text-shadow: 1px 1px 0 white;
      content: '=';
      font-size: 20px;
      line-height: 1;
    }
    &.mob-nav-hide li {
      display: none;
    }
  }
}


@media (min-width:600px) {
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}



/* 7. Modules
  ==================== */

[role="banner"] {
  
}

.posts {
  $post-list: 1px solid #888;

  & > li {
    padding: rhythm();
    border-bottom: $post-list;
  }

  @media (min-width:600px) {
    & {
      border-top: none;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}









/* 8. Helper
  ==================== */

.ir { // Wu, diet ir!
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
