/*
 * Zoe with dots Tumblr
 * Author: Ad Taylor [ ad@adtaylor.co.uk ]
 *
 * 1. Resets/Base
 * 2. Type
 * 3. Headings
 * 4. Links
 * 5. Lists
 * 6. Layout
 * 7. Modules
 * 8. Helpers
 *
 */

@import "compass";
@import "global/*.png";



/* 1. Resets/Base
  ==================== */
$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: "Courier New",Courier,monospace;
$base-font-size:   12px;
$base-line-height: 15px;

$gutter: 2em;

$pale-green: rgb(156,206,202);

@include global-reset;
@include establish-baseline();

$grid-background-baseline-color : rgba(200, 100, 0, 0.1);
body {
 // @include debug-vertical-alignment();
}

$black:       #000;
$grey:        #666;


/* 2. Type
  ==================== */
body {
  font-family: $font-family;
  color: $font-color; 
}
/* 3. Headings
  ==================== */
  header {
    font-family: 'Glegoo', serif;
  }
/* 4. Links
  ==================== */
$link-color:              $black;
$link-hover-color:        $black;
$link-focus-color:        $black;
$link-active-color:       $black;
$link-visited-color:      $black;

a {
  // background-color: yellow;
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;
  &:focus {
    outline: 3px solid yellow;
  }
}


$nav-link-color:          $grey;
$nav-link-hover-color:    $grey;
$nav-link-focus-color:    $grey;
$nav-link-active-color:   $grey;
$nav-link-visited-color:  $grey;
.nav a {
  @include link-colors($nav-link-color, $nav-link-hover-color, $nav-link-focus-color, $nav-link-active-color, $nav-link-visited-color);
}


/* 5. Lists
  ==================== */
ul, ol {
  margin-left: 1em;

  li {
    list-style-position: outside;
    list-style-type: disc;
    list-style-image: none;
  }
}

.semantic-list {
  list-style: none;
}

.inline-list {
  li {
    display: inline-block;
    *display: inline;
  }
}

nav {
  ul, ol {
    @extend .semantic-list;
    @extend .inline-list;
  }
}


/* 6. Layout
  ==================== */

  body {
    margin:0 auto;
    width:94%;
    max-width:700px;
    min-width:200px;
    
  }


// THE REAL LAYOUT

.masthead {
  @extend .region;
  @extend .size1of1;
}




/* 7. Modules
  ==================== */

.masthead {

  h1 {
    @include global-sprite(zoe_header);
    @extend .ir;
    height: global-sprite-height(zoe_header);
    width: global-sprite-width(zoe_header);
    margin: $base-line-height*4 auto $base-line-height*3;
  }

}

.nav {
  margin-bottom: $base-line-height*2;
  text-align: center;

  li {
    margin: $base-line-height/2 $gutter $base-line-height/4;
  }

  &:before, &:after {
    display: block;
    width: 100%;
    content: '';
  }

  &:before {
    @include global-sprite(nav-top, $offset-x: 50%);
    height: global-sprite-height(nav-top);
  }

  &:after {
    @include global-sprite(nav-bottom, $offset-x: 50%);
    height: global-sprite-height(nav-bottom);
  }
}

// Posts container
// =================
// 
.posts {
  display:block;
  clear:both;
  margin-left:0;
  list-style:none;

  &:after {
    display:block;
    clear:both;
    content:'';
  }

  .item {
    display:block;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    // clear:both;
//    padding: 0 0 $base-line-height*2 $gutter*3;
    margin: 0;
    background:none;
    width: 16.666em;
    font-size: 12px;
  }

  &.active .item {
    font-size: 2px;
    line-height: 1.2;

    &.item-active {
      width: 41.666em;
      font-size: 12px;
    }
  }

  figure {
    img {
      max-width: 100%;
    }

    a {
      display: block;
    }
  }

  p a {
    background-color: yellow;

    &:hover, &:focus { 
      background-color: transparent;
    }
  }
}

/*
@media (min-width:320px) {
  .posts > li {
    clear:none;

    .posts-start {
      clear:left;
    }
    
    .posts-end {
      zoom:1;
      float:none;
      width:auto;
    }

  }
}

@media (min-width:480px) {

  .posts > li {
    float:left;
    width:50%;
  }

  .posts > li:nth-child(2n+1) {
    clear:left;
  }

  .posts img {
    width:auto;
  }

}


@media (min-width:600px) {

  .posts > li {
    width:33.333333%;
  }

  .posts > li:nth-child(2n+1) {
    clear:none;
  }

  .posts > li:nth-child(3n+1) {
    clear:left;
  }

}

*/



/* 8. Helper
  ==================== */

.ir { // Wu, diet ir!
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}



/* TEMP */

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
